:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 24px;
  font-weight: 400;
  color: #0f0f0f98;
  background-color: #2f2f2f;
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  text-align: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  display: flex;
  width: fit-content;
  justify-content: center;
  flex-direction: column;
  padding: 10vh;
  white-space: nowrap;
}

button {
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  border-radius: 8px;
  border: 1px solid transparent;
  margin: 2px;
  outline: none;
}

.upper-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
  font-weight: 700;
}

.menu-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2f2f2f;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 25px;
}

.game {
  z-index: 1;
  display: flex;
  justify-content: center;
  background-color: #2f2f2f;
  width: 100%;
}

.board {
  display: flexbox;
  justify-content: center;
  width: 100%;
}

.button-reset {
  height: 50px;
  width: 104px;
  margin: 2px;
  font-size: 25px;
  font-weight: 700;
  background-color: #0f0f0f98;
  color: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
}

.button-reset:hover {
  background-color: #262626;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
}

.open-settings {
  height: 50px;
  width: 104px;
  margin: 2px;
  font-size: 25px;
  font-weight: 700;
  background-color: #0f0f0f98;
  color: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
}

.open-settings:hover {
  background-color: #262626;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
}

.settings {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  position: relative;
  height: 0px;
  color: #ffffff;
  transition: height 1s;
  -webkit-transition: height 1s;
}

.custom-settings {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.preset-settings {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.setting {
  width: 176px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

.preset-setting {
  /* height: 25px; */
  width: 176px;
  margin: 2px;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #0f0f0f98;
  color: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  font-size: 25px;
  font-weight: 700;
  padding: 5px;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
}
.preset-setting:hover {
  background-color: #262626;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
}

.text-input {
  width: 50px;
  font-size: 25px;
  margin: 2px;
  margin-left: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  text-align: center;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.button-hidden {
  aspect-ratio: 1 / 1;
  /* font-size: 25px; */
  color: rgba(15, 15, 15, 0.0);
  background-color: #0f0f0f98;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
}

.button-shown {
  aspect-ratio: 1 / 1;
  font-size: calc(5 * min(1vw, 1vh));
  font-weight: 700;
  color: #0f0f0f98; 
  background-color: #2f2f2f;
}

.button-hidden:hover {
  background-color: #262626;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
}


.button-hidden:active {
  background-color: #2f2f2f;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
}

.button-shown:active {
  background-color: #2f2f2f;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
}

.button-icon {
  width: 70%;
  height: 70%;
}

.gamestate {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 25px;
}